<%- include('../layout/user_header') %>

<div class="container mt-4">
    <h2>Payment Success</h2>
    <p>Your payment has been processed successfully. Thank you for your purchase!</p>
    <a href="/" class="btn btn-primary">Continue Shopping</a>
</div>

<%- include('../layout/user_footer') %>
